<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryz.qasystem.mapper.NotificationMapper">
  <resultMap id="BaseResultMap" type="com.ryz.qasystem.model.Notification">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="notifier_id" jdbcType="INTEGER" property="notifierId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="receiver_id" jdbcType="INTEGER" property="receiverId" />
    <result column="question_id" jdbcType="INTEGER" property="questionId" />
    <result column="question_title" jdbcType="VARCHAR" property="questionTitle" />
    <result column="notifier_name" jdbcType="VARCHAR" property="notifierName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, notifier_id, status, receiver_id, question_id, question_title, notifier_name, 
    create_time, update_time
  </sql>

  <select id="getAllNotificationByUserIdByPage" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select * from notification where receiver_id=#{id}
    order by create_time desc
    <if test="page!=null and size!=null">
      limit #{page}, #{size}
    </if>
  </select>
  <select id="getTotalNumNotificationByUserId" resultType="java.lang.Long">
    select count(1) from notification where receiver_id=#{id}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from notification
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from notification
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ryz.qasystem.model.Notification">
    insert into notification (id, notifier_id, status, 
      receiver_id, question_id, question_title, 
      notifier_name, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{notifierId,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{receiverId,jdbcType=INTEGER}, #{questionId,jdbcType=INTEGER}, #{questionTitle,jdbcType=VARCHAR}, 
      #{notifierName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ryz.qasystem.model.Notification">
    insert into notification
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="notifierId != null">
        notifier_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="receiverId != null">
        receiver_id,
      </if>
      <if test="questionId != null">
        question_id,
      </if>
      <if test="questionTitle != null">
        question_title,
      </if>
      <if test="notifierName != null">
        notifier_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="notifierId != null">
        #{notifierId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="receiverId != null">
        #{receiverId,jdbcType=INTEGER},
      </if>
      <if test="questionId != null">
        #{questionId,jdbcType=INTEGER},
      </if>
      <if test="questionTitle != null">
        #{questionTitle,jdbcType=VARCHAR},
      </if>
      <if test="notifierName != null">
        #{notifierName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ryz.qasystem.model.Notification">
    update notification
    <set>
      <if test="notifierId != null">
        notifier_id = #{notifierId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="receiverId != null">
        receiver_id = #{receiverId,jdbcType=INTEGER},
      </if>
      <if test="questionId != null">
        question_id = #{questionId,jdbcType=INTEGER},
      </if>
      <if test="questionTitle != null">
        question_title = #{questionTitle,jdbcType=VARCHAR},
      </if>
      <if test="notifierName != null">
        notifier_name = #{notifierName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ryz.qasystem.model.Notification">
    update notification
    set notifier_id = #{notifierId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      receiver_id = #{receiverId,jdbcType=INTEGER},
      question_id = #{questionId,jdbcType=INTEGER},
      question_title = #{questionTitle,jdbcType=VARCHAR},
      notifier_name = #{notifierName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>